@import "tailwindcss";

@utility container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @variant lg {
    max-width: 68rem;
  }

  @variant xl {
    max-width: 80rem;
  }

  @variant 2xl {
    max-width: 96rem;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-barlow: var(--font-barlow);
  --font-barlow-condensed: var(--font-barlow-condensed);
  --font-special-gothic-condensed-one: var(--font-special-gothic-condensed-one);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-special-gothic-condensed-one), Arial, Helvetica, sans-serif;
}
